/*Tags*/
main {
  height: 745px;


}
footer{
  border: solid 1px black;
  height: 100px;

}

span{
  font-weight: normal;

}

h3{
float: left;

}

/*Classes*/

.rightBottomBox p{
  margin:20px 40% 10px 40%;

}

.positions {
  width: 32%;
  height: 745px;
  float:left;
}

.rightBottomBox{
  height: 100px;
  width: 90%;
  margin: 10px 20px;
  border: solid 1px black;
}


.badge{
  width: 120px;
  margin-left:75px;
  margin-top:10px;
}

.line{
  border-bottom:solid 1px grey;
  width: 100px;
  float: left;
  margin:30px 10px;
}

/*ID's*/

#imageSection {
  margin-left: 20%;
}

#imageHolder {
  height: 600px;
  margin: 65px 0;
  float:left;
}

#feildHolder{
  border: solid 1px lightgrey;
  height: 500px;
  width: 90%;
  margin: 20px 20px 0px 20px;
}

#loginBox{
  border: solid 1px lightgrey;
  height: 75px;
}

#loginBox p
{
  margin:29px 30%;

}

#Logo{
  width: 250px;
  margin: 10px 80px;
}

#playStore{
  margin-left:20px;

}

#appDownload{
  border:none;

}

#feildHolder p{
  color:grey;
  text-align:center;
  margin-top:0;
  width:250px;
  margin-left: 80px;
  font-weight: bold;
}

#feildHolder button{
  color:white;
  background-color:blue;
  width:300px;
  height:30px;
  margin-left:60px;
}

#feildHolder input{
  width:300px;
  height:25px;
  margin:4px 60px;
  border: solid 1px lightgrey;
  color: lightgrey;
}

#orLine{
  margin:0 75px;
  color: grey;
}

#bottomButton {
  margin-bottom: 20px;
}
