section{
  border:solid 1px black;
  width: 500px;
  height:100%;
  float: left;
}

footer{
  border:solid 1px;
  height:100px;
  width: 100%;

}

main {
  height: 745px;


}

#sect1{
  margin-left: 200px;
}
